.skills_logo {
  transition: ease-in-out 500ms;
}
.skills_logo:hover {
  transform: scale(1.1);
}

.skills_container {
  will-change: filter;
  transition: filter 300ms;
  background-color: rgba(27, 28, 27, 0.6);
}

.skills_container:hover {
  filter: drop-shadow(0 0 2em  #646cffaa);
} 
